# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/

# env / secrets
.env
.env.local
.env.*.local
apps/hub/servers.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# misc
*.tsbuildinfo
coverage/
.turbo/
.vercel/
